<!DOCTYPE html>
<html>
<head>
<title>About| Scottish Dance Music Training site</title>
</head>
<body>
<h1>About</h1>
<p>
	The <a href="http://www.scottishdance.net/"><em>Scottish Dance Music Training</em></a> is a
	<a href="http://www.scottishdance.net/site">site</a> and
	<a href="http://screencasts.scottishdance.net/">screencast series</a>
	to teach scottish dance movements from begining with
	<a href="http://www.scottishdance.net">Scottish Dance</a>
	This is the site for training scottish dance music training for music festivals and functions.
</p>
</body>
</html>