<h1>about</h1>
<p>
	The <a href="http://www.scottishdance.net/"><em>Scottish Dance Music Training</em></a> is a
	<a href="http://www.scottishdance.net/book">book</a> and
	<a href="http://screencasts.scottishdance.net/">screencast series</a>
	to teach web development with
	<a href="http://www.scottishdance.net">Scottish Dance</a>
	This is the site for training scottish dance music training for music festivals and functions.
</p>