<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | Scottish Dance Music Training site</title>
</head>
<body>
<h1>Help</h1>
<p>
	Get help on the Scottish dance Music Training
	<a href="href="http://http://www.scottishdance.net">Scottish Dance help page</a>.
	To get help on this dance training, see the
	<a href="https://video.search.yahoo.com/yhs/search?fr=yhs-adk-adk_sbnt&hsimp=yhs-adk_sbnt&hspart=adk&p=scottish+dance#id=1&vid=fabe85e3ee0ccc0fbe91d943e8bc6fd9&action=click"><em>Scottish Dance Music Training</em>site</a>.
</p>
</body>
</html>