<footer class="footer">
<small>
The <a href="http://www.scottishdance.net/">Scottish Dance Music Training</a>
by <a href="http://www.shimbirosharon.com/">shimbiro rolex</a>
</small>
<nav>
<ul>
<li><%= link_to "About",
'#' %></li>
<li><%= link_to "Contact", '#' %></li>
<li><a href="http://news.scottishdance.net/">News</a></li>
</ul>
</nav>
</footer>